
.container {
  margin: 0 auto;
  max-width: 500px;
  background-color: #f9f7f5;
}
 header {
   background-color: white;
   margin-top: 7px;
   padding-top: 5px;
   padding-bottom: 5px;
 }
h1, .tagline {
  text-align: center;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #f9f7f5;
  margin-left: 100px;
  margin-right: 100px;
}

img {
  height: 50px;
  max-width: 50px;
  margin-right: 5px;
}

h2 {
  background-color: white;
  margin-top: 40px;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid orange;
}

section {
  background-color: white;
  padding-left: 20px;
  padding-bottom: 50px;
}


span {
  font-size: 10px;
}

a {
  color: purple;
}

a:hover {
  color: orange;
}

div {
width: 75%;
height: 75%;
min-width: 50px;
min-height: 50px;
}
