
.container {
  margin: 0 auto;
  max-width: 500px;
  background-color: white;
}

h1, .tagline {
  text-align: center;
  padding-top: 20px;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #f9f7f5;
}

img {
  height: 37px;
  width: 39px auto;
}

h2 {
  border-top: 20px solid #f9f7f5;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 10px;
}
section {
  padding-left: 30px;
}
span {
  font-size: 10px;
}

a {
  color: purple;
}

a:hover {
  color: orange;
}

div {
width: 75%;
height: 75%;
min-width: 50px;
min-height: 50px;
}
